{% extends "base.html" %}
{% block title %}
    website monitor
{% endblock %}

{% block content %}
    <section class="example">
        <div class="container-fluid" style="margin:20px;">
            <div class="jumbotron" style="overflow-y:scroll;">
                <h3>WEBSITE MONITOR</h3>
                <hr>
                <button id="download_log_button" type="button" class="btn btn-primary"
                                                               download="website_monitor.log">Download log file</button>

                &nbsp;&nbsp;<div id="lastchecked" style="float: right; display:none; font-weight: bold;">LAST CHECKED: 12:07</div>
                <br>
                <br>
                <div id="gridlydashboard" class="gridly">
                </div>
            </.div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        function makeUrl(base_url, string_to_add) {
            // base_url contains two slashes at the end and we want just one
            // so we need to remove the last char
            var new_url = base_url.substring(0, base_url.length - 1);
            return new_url + string_to_add;
        }
        function runCheck() {
            $.getJSON(
                "{{ url_for('siteup.run_checks') }}", function (data) {
                    var job_id = data["id"];
                    // every 200ms check job's status and retrieve results
                    // when it's ready
                    var inner_intervalId = setInterval(function(){
                        // need to call url_for with empty job_id and add if
                        // afterwards because there is no job_id at the time
                        // when the template is rendered by jinja
                        // and job_ids will change, while the template is rendered only once
                        var status_url = "{{ url_for('siteup.get_status', job_id="") }}";
                        status_url = makeUrl(status_url, job_id);
                        var results_url = "{{ url_for('siteup.get_result', job_id="") }}";
                        results_url = makeUrl(results_url, job_id);

                        $.getJSON(status_url, function (data) {
                            console.debug("job status: " + data["status"]);
                            if (data["status"] === "SUCCESS") {
                                clearInterval(inner_intervalId);
                                // job succeeded, get results and update bricks accordingly
                                $.getJSON(results_url, function (results) {
                                    updateBricks(results["result"]["websites"], document);

                                    // update last checked time
                                    var last_checked = "LAST CHECKED: " + results["result"]["last_checked"];
                                    document.getElementById("lastchecked").style.display = "inline-flex";
                                    document.getElementById("lastchecked").innerText = last_checked;
                                });
                            } else if (data["status"] === "FAILURE") {
                                clearInterval(inner_intervalId);
                                console.debug("FAILURE");
                            }
                            // else: PENDING, need to wait more
                        });
                    }, 1000);
                });
        }
        $(document).ready(function() {

            // setup the download button
            var logfile_path = "{{ url_for("dashboard.download_log") }}";
            var log_button = document.getElementById("download_log_button");
                console.debug(log_button);
            log_button.addEventListener("click", function() {
                location.href= logfile_path;
            });

            // Dashboard setup - create a brick for each website and start gridly
            var websites = {{ urls|safe }};

            var dashboard = document.getElementById("gridlydashboard");
            buildGrid(websites, dashboard, document);

            // start gridly
            $('.gridly').gridly({
                base: 60, // px
                gutter: 10, // px
                columns: 16
            });

            runCheck();
            var sample_period = {{ sample_period }};
            setInterval(function () {
                runCheck();
            }, sample_period * 1000);
        });
    </script>
{% endblock %}
