{% extends "base.html" %}
{% block title %}
    website checker
{% endblock %}

{% block content %}
    <section class="example">
    <div id="gridlydashboard" class="gridly">
        <div id="website1" class="brick large site-down" style="align-items: center;display: inline-flex;">
                <div class="panel panel-default panel-transparent" align="center" >
                    <div align="center" style="">
                        <h1 align="center">website1</h1>
                        <hr class="brick-hr">
                        <p>
                            it's awesome!
                        </p>
                    </div>
            </div>
        </div>
        <div class="brick large site-up"></div>
        <div class="brick large site-incorrect"></div>
        <div class="brick large site-up"></div>
    </div>
    </section>
{% endblock %}

{% block js %}
    <script type="text/javascript">
    function makeUrl(base_url, string_to_add) {
        // base_url contains two slashes at the end and we want just one
        // so we need to remove the last char
        var new_url = base_url.substring(0, base_url.length - 1);
        return new_url + string_to_add;
    }

$(document).ready(function() {

    // Dashboard setup - create a brick for each website and start gridly
    var websites = {{ urls|safe }};

    var dashboard = document.getElementById("gridlydashboard");
    buildGrid(websites, dashboard, document);
    // start gridly
    $('.gridly').gridly({
        base: 60, // px
        gutter: 20, // px
        columns: 16
    });
    updateBricks("", "");

    var sample_period = {{ sample_period }};

    $.getJSON(
        "{{ url_for('siteup.run_checks') }}", function (data) {
            var job_id = data["id"];
            // every 200ms check job's status and retrieve results
            // when it's ready
            var inner_intervalId = setInterval(function(){
                // need to call url_for with empty job_id and add if
                // afterwards because there is no job_id at the time
                // when the template is rendered by jinja
                // and job_ids will change, while the template is rendered only once
                var status_url = "{{ url_for('siteup.get_status', job_id="") }}";
                status_url = makeUrl(status_url, job_id);
                var results_url = "{{ url_for('siteup.get_result', job_id="") }}";
                results_url = makeUrl(results_url, job_id);

                $.getJSON(status_url, function (data) {
                    console.debug("job status: " + data["status"]);
                    if (data["status"] === "SUCCESS") {
                        clearInterval(inner_intervalId);
                        // job succeeded, get results and update bricks accordingly
                        $.getJSON(results_url, function (results) {
                            updateBricks(results, dashboard);
                        });
                    } else if (data["status"] === "FAILURE") {
                        clearInterval(inner_intervalId);
                        console.debug("FAILURE");
                    }
                    // else: PENDING, need to wait more
                });
            }, 200);
        });
});
    </script>
{% endblock %}
