.brick.large {
    width: 300px;
    height: 300px;
    color: #4C4C4C;
    align-items: center;
    display: inline-flex;
}

.brick.large.site-up {
    background: #00c08d;
}

.brick.large.site-default {
    background: #cccccc;
}

.brick.large.site-down {
    background: #f44336;
}

.brick.large.site-incorrect {
    background: #fae03c;
}

.gridly {
    position: relative;
    width: 960px;
}
